/*Include mixin fonts*/
@font-face {
  font-family: 'fonts/HelveticaNeueCyr';
  src: url("fonts/HelveticaNeueCyr-Medium.eot");
  src: local("fonts/HelveticaNeueCyr-Medium"), url("fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeue';
  src: url("fonts/HelveticaNeueCyr-Roman.eot");
  src: local("fonts/HelveticaNeueCyr-Roman"), url("fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeue';
  src: url("fonts/HelveticaNeueCyr-Bold.eot");
  src: local("fonts/HelveticaNeueCyr-Bold"), url("fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeue';
  src: url("fonts/HelveticaNeueCyr-Light.eot");
  src: local("fonts/HelveticaNeueCyr-Light"), url("fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

/*Icon Fonts Fontello*/
@font-face {
  font-family: 'fontello';
  src: url("fonts/fontello.eot?15909270");
  src: url("fonts/fontello.eot?15909270#iefix") format("embedded-opentype"), url("fonts/fontello.woff2?15909270") format("woff2"), url("fonts/fontello.woff?15909270") format("woff"), url("fonts/fontello.ttf?15909270") format("truetype"), url("fonts/fontello.svg?15909270#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/*Main styles*/
body {
  overflow-x: hidden;
  font-family: 'HelveticaNeue';
  font-size: 16px; }

*:hover, *:active, *:focus {
  outline: none !important; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

label.bordered {
  border-bottom: 2px solid #1e1e1e !important;
  font-weight: 600; }

ul {
  list-style: none;
  margin-left: -40px;
  margin-bottom: 0; }

.danger {
  border-bottom: 1px solid #c9302c !important; }

.success {
  border-bottom: 1px solid #5cb85c !important; }

.tooltip.top .tooltip-arrow {
  border-top-color: #c9302c !important; }

.tooltip-inner {
  background: #c9302c !important;
  font-family: 'HelveticaNeue';
  font-size: 12px; }

.null:hover a img, .null:focus a img {
  -webkit-transform: none !important;
          transform: none !important; }

.null a {
  cursor: default; }
  .null a img {
    -webkit-transform: none;
            transform: none; }

.main-fluid {
  max-width: 1400px !important;
  margin: 0 auto; }

@media only screen and (max-width: 767px) {
  section {
    display: block;
    width: 100%;
    overflow-x: hidden; } }

.button-wrap {
  position: relative;
  display: block;
  width: 100%; }

.swiper-pagination .swiper-pagination-bullet {
  width: 13px;
  height: 13px; }

.swiper-pagination .swiper-pagination-bullet-active {
  background: #fff; }

@media only screen and (max-width: 767px) {
  main {
    overflow-x: hidden; } }

.fix_mage_position {
  position: absolute;
  bottom: -15px;
  right: 7.5%; }
  @media only screen and (max-width: 1600px) and (min-width: 1400px) {
    .fix_mage_position {
      right: 60px; } }
  @media only screen and (max-width: 1200px) {
    .fix_mage_position {
      right: 0; } }
  @media only screen and (max-width: 992px) {
    .fix_mage_position {
      right: 5px; } }
  @media only screen and (max-width: 767px) {
    .fix_mage_position {
      left: 5px; } }

.navbar-toggle {
  border-radius: 0;
  border: 1px solid #fff; }
  .navbar-toggle .icon-bar {
    background: #fff; }

.swiper-slide {
  background-position: center;
  background-size: cover; }

.swiper-wrapper:before {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  background: url(../images/pre_slide.png) no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1100; }
  @media only screen and (max-width: 767px) {
    .swiper-wrapper:before {
      display: none; } }

/*Fontello font styles*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*Image fonts*/
.icon-delivery:before {
  content: '\e800'; }

.icon-division:before {
  content: '\e801'; }

.icon-hook:before {
  content: '\e802'; }

.icon-package:before {
  content: '\e803'; }

.icon-phone:before {
  content: '\e804'; }

.icon-scissors:before {
  content: '\e805'; }

.icon-tag:before {
  content: '\e806'; }

.icon-correct-symbol:before {
  content: '\e807'; }

.icon-cancel:before {
  content: '\e808'; }

.icon-clock:before {
  content: '\e809'; }

/*End Fontello font styles*/
/*For Adaptive*/
@media only screen and (max-width: 480px) {
  .hidden-esmx {
    display: none; } }

@media only screen and (max-width: 576px) {
  .col-smx {
    width: 100% !important; }
  .hidden-smx {
    display: none; } }

@media only screen and (min-width: 768px) {
  .first_view .menu .navbar-collapse {
    display: flex !important;
    align-items: center;
    justify-content: center; } }

/*For ie-9 and more*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .advantages {
    vertical-align: middle;
    padding: 12.50vh 0; }
  .offer {
    padding: 5% 0; }
  .plus .col-md-3 {
    padding: 30px 0 20px !important; } }

/*Footer styles*/
footer {
  padding: 25px 0;
  background: #fff; }
  footer ul {
    margin-left: 0; }
    footer ul li {
      font-size: .75em;
      font-weight: normal; }
      footer ul li a {
        color: #5f5f5f;
        transition: all .5s;
        font-size: 1em; }
        footer ul li a:hover, footer ul li a:focus, footer ul li a:active {
          color: #5f5f5f; }

/*End Footer styles*/
/*Links for all tag a*/
.link {
  display: inline-block;
  width: 185px;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #fff;
  font-size: 0.725em;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 15px; }
  .link i {
    margin-left: 6px; }
  .link:hover, .link:focus {
    color: #fff;
    text-decoration: none;
    box-shadow: 0 2px 14px -2px #fff; }
  @media only screen and (max-width: 767px) {
    .link {
      width: auto; } }
  .link__orange {
    border-color: #ed6600 !important;
    color: #ed6600 !important;
    margin: 40px 0; }

/*End Links*/
/*Section map*/
.map {
  position: relative; }
  @media only screen and (max-width: 767px) {
    .map iframe {
      height: 400px !important; } }
  .map article {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 7px);
    width: 475px;
    background: rgba(37, 37, 37, 0.85);
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 767px) {
      .map article {
        width: 100%;
        position: static;
        padding: 25px 0; } }
    .map article a {
      margin: 15px auto;
      display: block; }
  .map__content {
    color: #fff;
    text-align: center; }
    .map__content img {
      display: block;
      margin: 10px auto; }

/*End Section map*/
/*Contact Information*/
.contact_information {
  width: 260px;
  border-radius: 4px;
  display: block;
  margin: 10px auto;
  border: 1px solid #fff; }
  .contact_information tbody {
    width: 100%;
    display: block; }
  .contact_information tr:first-child {
    width: 100%;
    display: block;
    background: #fff;
    color: #1e1e1e;
    font-size: 1.4375em;
    font-weight: bold; }
    .contact_information tr:first-child td {
      text-align: center;
      width: 100%;
      display: block; }
    .contact_information tr:first-child i {
      margin-right: 10px; }
  .contact_information tr td {
    margin-right: 3px; }
    .contact_information tr td.icon {
      font-size: 1.75em;
      padding: 0 5px; }

/*End Contact Information*/
/*Offer*/
.offer {
  min-height: 380px;
  background: url(../images/offer.png) repeat;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: contain;
  position: relative;
  color: #fff; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .offer {
      min-height: 300px; } }
  @media only screen and (max-width: 767px) {
    .offer {
      text-align: left !important;
      font-size: 24px;
      padding: 30px 0; } }
  @media only screen and (max-width: 576px) {
    .offer {
      font-size: 18px; } }
  @media only screen and (max-width: 480px) {
    .offer {
      font-size: 16px; } }
  @media only screen and (max-width: 767px) {
    .offer .container {
      width: 100%; } }
  .offer__title {
    font-size: 0.875em;
    color: #fff; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .offer__title {
        font-size: 1.275em; } }
    @media only screen and (max-width: 767px) {
      .offer__title {
        font-size: 1.125em; } }
  .offer__product {
    font-size: 2.75em;
    font-weight: 500;
    text-transform: uppercase; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .offer__product {
        font-size: 2em;
        margin: 15px 0; } }
    @media only screen and (max-width: 767px) {
      .offer__product {
        font-size: 1.75em; } }
  .offer__value {
    text-transform: none !important; }
  .offer a.link {
    margin-top: 30px; }
    @media only screen and (max-width: 767px) {
      .offer a.link {
        font-size: 12px; } }
  @media only screen and (max-width: 767px) {
    .offer img {
      margin: 15px 0 0; } }
  .offer__price {
    font-size: 4.125em;
    font-weight: 500;
    line-height: .75; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .offer__price {
        font-size: 2.25em; } }
    @media only screen and (max-width: 767px) {
      .offer__price {
        font-size: 2em; } }
    .offer__price span {
      font-weight: 600;
      font-size: 1.125em; }
  .offer__image {
    position: absolute;
    top: 0; }
    @media only screen and (max-width: 767px) {
      .offer__image {
        width: 35%;
        top: -30px;
        right: 0; } }
    .offer__image img {
      margin: 0 !important; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .offer__image img {
          width: 90%; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .offer__image img {
          width: 70%; } }
  .offer__content {
    text-align: left; }

/*End Offer*/
/*Advantages*/
.advantages {
  background: url(../images/advantages.png) no-repeat;
  background-size: cover;
  min-height: 620px;
  background-position: center top;
  display: flex;
  align-items: center;
  color: #fff;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .advantages {
      display: block;
      padding: 60px 0 30px; } }
  .advantages h2 {
    text-align: center;
    color: #fff;
    font-size: 2.125em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 75px; }
    @media only screen and (max-width: 767px) {
      .advantages h2 {
        margin-bottom: 25px; } }
  .advantages .icon-metall {
    line-height: 1;
    font-size: 52px;
    margin-bottom: 0.575em;
    display: inline-block; }
  .advantages h3 {
    font-size: 1.125em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px; }
  .advantages p {
    font-size: 0.875em;
    font-weight: normal;
    line-height: 1.3; }
  .advantages .link {
    margin-top: 40px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .advantages .link {
        width: auto; } }
  @media only screen and (max-width: 767px) {
    .advantages__article {
      margin-bottom: 30px;
      height: 300px; } }
  @media only screen and (max-width: 576px) {
    .advantages__article {
      height: auto; } }

/*End Advantages*/
/*Section product*/
.product {
  overflow-x: hidden;
  display: block;
  margin-bottom: -5px;
  width: 100%; }
  .product__slider {
    max-height: 760px;
    min-height: 560px; }
  .product h2 {
    text-align: center;
    color: #ed6600;
    text-transform: uppercase;
    font-weight: 600;
    margin: 50px 0; }
  .product__caption {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 1.565em;
    font-weight: 600;
    color: #fff; }
    @media only screen and (max-width: 992px) {
      .product__caption {
        font-size: 1.375em; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .product__caption {
        font-size: 1.125em;
        left: 20px;
        bottom: 15px; } }
    @media only screen and (max-width: 767px) {
      .product__caption {
        font-size: 1.565em; } }
  .product ul {
    width: calc(100% + 80px); }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .product ul {
        width: calc(100% + 48px);
        overflow: hidden; } }
    @media only screen and (max-width: 767px) {
      .product ul {
        width: calc(100% + 40px);
        margin-bottom: 0; } }
    @media only screen and (max-width: 576px) {
      .product ul {
        width: calc(100% + 40px);
        overflow: hidden; } }
    .product ul li {
      float: left;
      width: 33%; }
      @media only screen and (max-width: 767px) {
        .product ul li {
          width: 50%; } }
      @media only screen and (max-width: 576px) {
        .product ul li {
          width: 100%; } }
      .product ul li:hover a img, .product ul li:focus a img {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
      .product ul li a {
        display: block;
        background: #1e1e1e;
        padding: 0;
        margin-top: -2px;
        position: relative;
        box-shadow: inset 0 -20px 35px 15px #000;
        overflow: hidden; }
        .product ul li a img {
          transition: all 1s;
          display: block;
          -o-object-fit: contain;
             object-fit: contain;
          width: 100%; }
      @media only screen and (max-width: 767px) {
        .product ul li:nth-child(7) {
          display: none; } }
      @media only screen and (max-width: 576px) {
        .product ul li:nth-child(9) {
          display: none; } }

/*End Section product*/
/*Section Plus*/
.plus {
  background: url(../images/plus.jpg) no-repeat;
  background-size: cover;
  min-height: 170px;
  height: auto;
  background-position: center;
  color: #fff;
  position: relative; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .plus {
      background: transparent;
      display: block;
      overflow: hidden; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .plus .container {
      width: 100%;
      padding: 0; } }
  .plus .col-md-3 {
    min-height: 170px;
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    padding: 10px 25px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .plus .col-md-3 {
        background: url(../images/plus.jpg) no-repeat;
        background-size: cover;
        min-height: 200px;
        height: auto;
        background-position: left 100%;
        text-align: center;
        box-shadow: 0 0 30px -5px #444 inset; } }
    @media only screen and (max-width: 576px) {
      .plus .col-md-3 {
        background: url(../images/plus.jpg) no-repeat;
        background-size: cover;
        min-height: 200px;
        height: auto;
        background-position: center; } }
    .plus .col-md-3::before {
      content: '';
      position: absolute;
      top: 0;
      left: 20px;
      width: 18px;
      height: 15px;
      display: block;
      background: url(../images/plus_icon.png);
      background-size: contain; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .plus .col-md-3::before {
          display: none; } }
    .plus .col-md-3 article {
      height: 120px;
      display: inline-block; }
    .plus .col-md-3:nth-child(1) {
      border-bottom: 7px solid #ff6d00; }
    .plus .col-md-3:nth-child(2) {
      border-bottom: 7px solid #ffa800; }
    .plus .col-md-3:nth-child(3) {
      border-bottom: 7px solid #fd8328; }
    .plus .col-md-3:nth-child(4) {
      border-bottom: 7px solid #ff4e00; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .plus__content {
      text-align: center;
      padding: 15px  30px;
      width: 100%; } }
  @media only screen and (max-width: 576px) {
    .plus__content {
      text-align: center;
      padding: 30px;
      width: 100%; } }
  .plus__content p {
    font-size: 0.9375em;
    font-weight: normal; }
    .plus__content p span {
      font-size: 3.125em;
      font-weight: 600;
      line-height: 1;
      display: inline-block;
      margin: 0 4px; }

/*End Section Plus*/
/*Slider*/
.slider {
  width: 100%;
  display: block;
  height: 580px; }
  @media only screen and (max-width: 767px) {
    .slider {
      height: 480px; } }
  .slider .swiper-container {
    width: 100%;
    display: block;
    height: 580px; }
    @media only screen and (max-width: 767px) {
      .slider .swiper-container {
        height: 480px; } }
    .slider .swiper-container .swiper-slide {
      width: 300px;
      display: block;
      height: 580px; }
      @media only screen and (max-width: 767px) {
        .slider .swiper-container .swiper-slide {
          height: 480px; } }

/*End Slider*/
/*Header*/
.header {
  background: url(../images/header.png);
  background-position: contain;
  padding: 10px 0; }
  .header .contact_information a {
    color: #181818 !important; }
  .header .link {
    margin: 10px 5px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: .65em; }
    .header .link:first-child {
      margin-right: 50%; }
  .header .address {
    display: block;
    text-align: right; }
    @media only screen and (max-width: 576px) {
      .header .address {
        font-size: .875em; }
        .header .address:first-child {
          margin-top: 35px; } }
  .header div[class*="col"] {
    display: flex;
    align-items: center;
    min-height: 150px; }
    @media only screen and (max-width: 992px) {
      .header div[class*="col"].contacts {
        display: block;
        text-align: right !important; }
        .header div[class*="col"].contacts .contact_information {
          display: inline-block; } }
    @media only screen and (max-width: 767px) {
      .header div[class*="col"] {
        display: block;
        min-height: 50px !important; } }
    .header div[class*="col"] a {
      color: #fff; }
      .header div[class*="col"] a:hover, .header div[class*="col"] a:focus {
        color: #fff;
        text-decoration: none; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .header div[class*="col"] .link {
        margin: 5px 0;
        padding: 6px 5px; } }
    @media only screen and (max-width: 767px) {
      .header div[class*="col"] .link {
        margin-right: 0 !important; } }
    @media only screen and (max-width: 767px) {
      .header div[class*="col"] .link i {
        margin-left: 3px; } }
    .header div[class*="col"] span.city {
      display: block;
      width: 100%;
      text-transform: uppercase;
      font-size: 1em;
      margin-top: 10px;
      text-align: center;
      color: #fff; }
    .header div[class*="col"] img {
      margin: 0 auto;
      display: block; }
    .header div[class*="col"] .contact_information {
      margin-top: 10px !important;
      color: #fff; }

/*End Header*/
/*First view*/
.first_view {
  position: relative; }
  .first_view .menu {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; }
    .first_view .menu .navbar-collapse {
      padding: 15px 0; }
      @media only screen and (max-width: 767px) {
        .first_view .menu .navbar-collapse {
          flex: none !important;
          padding: 0 15px;
          border: none;
          box-shadow: none; } }
      .first_view .menu .navbar-collapse ul li a {
        color: #fff;
        font-size: 1em;
        line-height: 1;
        font-weight: 600; }

/*End First view*/
/*Logo*/
.logo {
  text-align: center;
  justify-content: center; }
  .logo img {
    display: inline-block; }

/*End Logo*/
/*Contacts*/
.contacts__content .address {
  color: #fff; }

.contacts__content .contact_information {
  margin: 0; }

/*End Contacts*/
/*Modal*/
.modal-open .modal {
  background: url(../images/modal_body.png);
  background-size: cover;
  background-position: center; }

.modal-open .modal-dialog {
  width: 100%;
  margin: 0 auto;
  background: transparent;
  min-height: 60vh;
  position: relative;
  padding: 0; }
  .modal-open .modal-dialog .close {
    top: 30px;
    right: 50px;
    position: absolute;
    font-size: 2em;
    color: #181818; }
  .modal-open .modal-dialog .modal-content {
    padding: 0;
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none; }
  .modal-open .modal-dialog .modal-header, .modal-open .modal-dialog .modal-footer, .modal-open .modal-dialog .modal-body {
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0; }
  .modal-open .modal-dialog .modal-footer {
    text-align: left !important; }
  .modal-open .modal-dialog .modal-title {
    color: #ed6600;
    font-size: 1.75em;
    font-weight: 600;
    text-align: center;
    display: block;
    width: 60%;
    margin: 45px auto 30px; }
    @media only screen and (max-width: 767px) {
      .modal-open .modal-dialog .modal-title {
        width: 100%;
        font-size: 1.25em; } }

/*End Modal*/
/*Menu*/
.menu ul li {
  position: relative; }
  .menu ul li a {
    transition: all .5s;
    padding: 5px 15px; }
    .menu ul li a:hover, .menu ul li a:focus {
      color: #fff;
      background: transparent; }
  .menu ul li span {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 1px;
    height: 100%;
    background: #fff; }

/*End Menu*/
/*Form*/
.form {
  text-align: center; }
  .form__wrap label {
    font-weight: 600;
    font-size: 1em;
    border-bottom: 2px solid #181818;
    cursor: pointer;
    color: #181818;
    margin: 30px 0; }
  .form__input {
    display: inline-block;
    height: 40px;
    width: 100%;
    max-width: 400px;
    border: none;
    background: transparent;
    box-shadow: 0 9px 10px -12px #181818;
    color: #181818;
    margin: 10px 0; }
    .form__input::-webkit-input-placeholder {
      text-align: center;
      color: #181818; }
    .form__input:-ms-input-placeholder {
      text-align: center;
      color: #181818; }
    .form__input::-ms-input-placeholder {
      text-align: center;
      color: #181818; }
    .form__input::placeholder {
      text-align: center;
      color: #181818; }
  .form .checkbox {
    display: none; }
  .form .checkbox-custom {
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #ed6600;
    border-radius: 3px; }
  .form .checkbox-custom,
  .form .label {
    display: inline-block;
    vertical-align: middle; }
  .form label {
    border: none !important;
    text-decoration: none; }
  .form .label {
    color: #1e1e1e;
    font-size: 1em;
    font-weight: 400; }
  .form .checkbox:checked + .checkbox-custom::before {
    content: '\e807';
    font-family: "fontello";
    line-height: 0.675;
    font-size: 20px;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ed6600; }

/*End Form*/
/*Modal Form*/
#feedback .modal-body, #order .modal-body {
  min-height: 72vh;
  display: flex;
  padding: 40px 0;
  align-items: center;
  justify-content: center; }

#feedback .modal-title, #order .modal-title {
  margin-bottom: 60px; }

#order .checkbox-label {
  margin-top: -45px; }

/*End Modal Form*/
/*Modal Body*/
.modal-body .close {
  position: absolute;
  top: 20px;
  right: 25px;
  z-index: 2000; }

/*End Modal Body*/
/*Modal property*/
div[id|="product"] .button-wrap {
  position: relative;
  display: block;
  width: 100%; }

div[id|="product"] .modal-body .close {
  position: absolute;
  top: 20px;
  right: 25px; }

div[id|="product"] .modal-body h2 {
  font-weight: 600;
  font-size: 2.12em;
  color: #ed6600;
  margin-bottom: 25px;
  margin-top: 50px; }
  @media only screen and (max-width: 767px) {
    div[id|="product"] .modal-body h2 {
      margin-bottom: 20px;
      font-size: 1.75em; } }

div[id|="product"] .modal-body p {
  font-size: 0.925em;
  line-height: 1.4;
  margin-bottom: 35px;
  color: #1e1e1e; }
  @media only screen and (max-width: 767px) {
    div[id|="product"] .modal-body p {
      margin-bottom: 15px; } }

div[id|="product"] .modal-body span {
  font-weight: 600;
  display: block; }

div[id|="product"] .modal-body h3 {
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #1e1e1e; }
  @media only screen and (max-width: 767px) {
    div[id|="product"] .modal-body h3 {
      margin-bottom: 15px;
      font-size: 1.25em; } }

div[id|="product"] .modal-body ul {
  width: 160px;
  float: left; }
  div[id|="product"] .modal-body ul li {
    font-weight: 400;
    font-size: 1em;
    margin: 3px 0;
    width: 100%;
    color: #1e1e1e; }

/*End Modal property*/
/*Slider*/
.slider .list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000; }
  @media only screen and (max-width: 767px) {
    .slider .list {
      display: none; } }
  .slider .list ul {
    display: flex; }
    .slider .list ul li {
      margin: 15px 5px; }

.slider p {
  color: #fff;
  width: 60%; }
  @media only screen and (max-width: 992px) {
    .slider p {
      width: 50%;
      font-size: .875em;
      line-height: 1.3; } }
  @media only screen and (max-width: 767px) {
    .slider p {
      display: none; } }

.slider strong {
  text-transform: uppercase;
  color: #ed6600;
  font-size: 1.75em;
  display: block;
  margin-top: 30px;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .slider strong {
      display: none; } }

.slider__title {
  text-align: center;
  margin-bottom: 30px; }
  .slider__title span {
    color: rgba(255, 255, 255, 0.35);
    text-transform: uppercase;
    display: inline-block;
    line-height: 1;
    font-weight: 600;
    font-size: 3.3125em;
    margin: 0 3px; }
    @media only screen and (max-width: 767px) {
      .slider__title span {
        font-size: 2.875em; } }
    @media only screen and (max-width: 576px) {
      .slider__title span {
        font-size: 2.5em; } }
    .slider__title span.up {
      font-size: 4.5em; }
      @media only screen and (max-width: 767px) {
        .slider__title span.up {
          font-size: 3.25em; } }
      @media only screen and (max-width: 576px) {
        .slider__title span.up {
          font-size: 3.25em; } }

.slider__caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 767px) {
    .slider__caption {
      padding: 70px;
      align-items: stretch;
      justify-content: flex-end; }
      .slider__caption .container {
        margin-left: 0;
        margin-right: 0; } }
  @media only screen and (max-width: 576px) {
    .slider__caption {
      padding: 0;
      align-items: center;
      justify-content: center; } }

/*End Slider*/
/*Adaptive styles*/
@media only screen and (min-width: 2000px) {
  .list, .fix_mage_position {
    display: none; } }

@media only screen and (max-width: 767px) {
  .navbar-nav {
    margin: 0 !important; }
    .navbar-nav li span {
      display: none !important; }
  .header .address:first-child {
    margin-top: 35px; }
  .header .links {
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .header .links a {
      width: 185px;
      font-size: 10px; }
  .plus .col-xs-6 {
    background: url(../images/plus.jpg) no-repeat;
    background-size: cover;
    min-height: 200px;
    height: auto;
    background-position: left 100%;
    box-shadow: 0 0 30px -5px #444 inset; }
  .modal .modal-footer, .modal .modal-header {
    display: none; } }

@media only screen and (max-width: 576px) {
  .header .links {
    width: 100%;
    display: block; }
    .header .links a {
      width: calc(50% - 10px);
      display: block;
      font-size: 10px;
      float: left; }
      .header .links a:last-child {
        margin-left: 25%; } }

@media only screen and (max-width: 480px) {
  .header .links a {
    width: 100%;
    float: none;
    margin: 10px 0 !important; } }

/*End Adaptive styles*/
